#socials {
    position: sticky;
    top: 0;
    background-color: var(--bg-primary);
    text-align: center;
    width: 100%;
    border-bottom: 1px solid var(--border-primary);
    z-index: 999;
}


.linkContainer {
    width: 100%;
    transition: 1s;
    background-color: var(--bg-primary);
}

#socials[data-scroll='true'] > .linkContainer {
    width: 256px;
}

#socials[data-scroll='true'] > .resume {
    display: block;
    opacity: 1;
}

.icon {
    transition: 0.2s;
}

.icon:hover {
    transform: scale(110%);
}

.resume {
    position: absolute;
    top: 25%;
    right: 2.5%;
    transition: 0.2s;
    display: none;
    opacity: 0;
}

.resume > h1 {
    border: 1px solid var(--border-resume-button);
    color: var(--font-color-resume-button);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.resume:hover {
    transform: scale(110%);
}